@model Consultorio_UH.Models.Preconsulta
@using System.Globalization;
@{
    ViewBag.Title = "Citas";
    Layout = "~/Views/Shared/Master_Doctor.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Citas</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">

                    <form action="" method="post"></form>
                    @using (Html.BeginForm("Citas", "Paciente", FormMethod.Post, new { @class = "form-horizontal" }))
                    {

                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-5 control-label">Fecha</label>

                            <div class="col-sm-7">
                                <div class="input-group date text-center">
                                    <input type="text" value=@Model.fecha.ToString("dd-MMM-yyyy", CultureInfo.InvariantCulture) class="form-control" disabled="true" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-5 control-label">Hora</label>

                            <div class="col-sm-7">
                                <div class="input-group text-center">
                                    <input type="text" value=@Model.hora class="form-control" disabled="true" />
                                </div>
                            </div>
                        </div>
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>Paciente</th>
                                        <th>Doctor</th>
                                        <th>Servicio</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Estado</th>
                                        <th>Acción</th>
                                    </tr>
                                    @for (int i = 0; i < Model.ds.Rows.Count; i++)
                                    {
                                        <tr>
                                            @for (int j = 1; j < Model.ds.Columns.Count - 1; j++)
                                            {
                                                if (j == 4)
                                                {
                                                    <td>@Convert.ToDateTime(@Model.ds.Rows[i][j].ToString()).ToString("dd-MMM-yyyy", CultureInfo.InvariantCulture)</td>
                                                }
                                                else
                                                {
                                                    <td>@Model.ds.Rows[i][j].ToString()</td>
                                                }

                                            }
                                            @switch (Model.ds.Rows[i][6].ToString())
                                            {
                                                case "1":
                                                    <td>
                                                        <span class="label label-info">Disponible</span>
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Tomar", "Ingreso", "Doctor", new { id_cita = @Model.ds.Rows[i][0] }, new { @class = "btn btn-info btn-flat" })
                                                    </td>
                                                    break;
                                                case "2":
                                                    <td>
                                                        <span class="label label-warning">En proceso</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    break;
                                                case "3":
                                                    <td>
                                                        <span class="label label-default">Atendido</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    break;
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                    }
                </div>
            </div>
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>

