
@using System.Web.Optimization;
@using System.Globalization;
@model Consultorio_UH.Models.Doctor

@{
    ViewBag.Title = "Ingreso";
    Layout = "~/Views/Shared/Master_Doctor.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12" style="padding-left: 70px; padding-right: 70px;">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Preconsulta</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                   
                    <form action="" method="post"></form>
                    
                    <div class="form-group">
                        <label for="inputName" class="col-sm-5 control-label">Paciente</label>

                        <div class="col-sm-7">
                            <text class="form-control" placeholder="0,0 m" style="width: 156px;" disabled="disabled">@Model.ds.Rows[0][1]</text>

                        </div>

                    </div>
                       
                        <div class="form-group">
                            <span class="col-sm-1"></span>
                            <div class="col-sm-10">
                                
                                <textarea class = "form-control" placeholder = "Motivo de consulta" rows = "5" disabled = "disabled">@Model.ds.Rows[0][2]</textarea>
                               
                            </div>
                        </div>
                        <div class="form-group">

                            <label for="inputName" class="col-sm-5 control-label">Peso</label>

                            <div class="col-sm-7">
                                <text class = "form-control"placeholder = "0,0 Kg" style = "width: 156px;" disabled = "disabled">@Model.ds.Rows[0][3]</text>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-5 control-label">Estatura</label>

                            <div class="col-sm-7">
                                <text class="form-control" placeholder="0,0 m" style="width: 156px;" disabled="disabled">@Model.ds.Rows[0][4]</text>
                                
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-5 control-label">Presion Arterial</label>

                            <div class="col-sm-7">
                                <text class="form-control" placeholder="mm/Hg" style="width: 156px;" disabled="disabled">@Model.ds.Rows[0][5]</text>
                               
                            </div>

                        </div>



                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-7">

                              

                            </div>
                        </div>
                    
                </div>
            </div>
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12" style="padding-left: 70px; padding-right: 70px;">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Consulta y tratamiento</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    @Html.ValidationSummary(true, String.Empty, new { @style = "color:green;!important" })
                    <form action="" method="post"></form>
                    @using (Html.BeginForm("Ingreso", "Doctor", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.TextBoxFor(id => id.id, new { @class = "form-control", style = "display:none;" })
                        @Html.TextBoxFor(id => id.id_preconsulta, new { @class = "form-control", style = "display:none;" })
                        <div class="form-group">
                            <span class="col-sm-1"></span>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(x => x.diagnostico, new { @class = "form-control", placeholder = "Diagnostico", rows = "5" })
                                @Html.ValidationMessageFor(x => x.diagnostico, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="box-header with-border">
                                <h3 class="box-title">Medicamentos</h3>
                            </div>
                            <div>
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th>Medicamento</th>
                                            <th>Fecha Inicio</th>
                                            <th>Fecha Final</th>
                                            <th>Dosis</th>
                                            <th>Detalle</th>
                                        </tr>
                                        @for (int i = 0; i < Model.medicamentos.Rows.Count; i++)
                                        {
                                            <tr>
                                                @for (int j = 2; j < Model.medicamentos.Columns.Count; j++)
                                                {
                                                    if (j == 3 || j == 4)
                                                    {
                                                        <td>@Convert.ToDateTime(@Model.medicamentos.Rows[i][j].ToString()).ToString("dd-MMM-yyyy", CultureInfo.InvariantCulture)</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@Model.medicamentos.Rows[i][j].ToString()</td>
                                                    }

                                                }
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                            </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-4">

                                            <button type="submit" class="btn btn-info btn-flat">Ingresar Medicamento</button>
                                           
                                        </div>
                                        <div class="col-sm-offset-1 col-sm-3">
                                            @Html.ActionLink("Finalizar Consulta", "MostrarCitas", "Doctor", new { @class = "btn btn-success btn-flat" })

                                        </div>
                                    </div>
                                    }
                        </div>
            </div>
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>



