@model Consultorio_UH.Models.Citas

@{
    ViewBag.Title = "Citas";
    Layout = "~/Views/Shared/Master_Paciente.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Solicitar Cita</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                   
                    <form action="" method="post"></form>
                    @using (Html.BeginForm("Citas", "Paciente", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                       
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Servicio</label>

                            <div class="col-sm-10">
                                <select @Html.TextBoxFor(s=> s.servicio_id, new { @class = "form-control", style = "width: 194px;" })>
                                    @if (Model.servicio_id == 1)
                                    {
                                    <option value="1" selected = "true">Medicina general</option>
                                    <option value="2">Nutricion</option>
                                    }
                                    else
                                    {
                                    <option value="1">Medicina general</option>
                                    <option value="2" selected = "true">Nutricion</option>
                                    }

                                </select>
                            </div>
                        </div>





                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Fecha</label>

                            <div class="col-sm-10">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(fn => fn.fecha, new { @type = "date", @class = "form-control", placeholder = "dd/mm/yyyy", style = "width: 156px;", @text = @Model.fecha.ToShortDateString() })
                                    <!--<input type="date" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">-->


                                </div>
                                @Html.ValidationMessageFor(fn => fn.fecha, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Doctor</th>
                                    <th>Hora</th>
                                    <th>Status</th>
                                    <th>Acción</th>
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>7:00 AM</td>
                                    
                                    @if (Model.ds.Rows.Count != 0)
                                    {
                                         for (int i = 0; i < Model.ds.Rows.Count; i++)
                                         {
                                             if (Model.ds.Rows[i][1].ToString() == "7:00 AM")
                                             {
                                                  <td>
                                                  <span class="label label-default">Denied</span>
                                                  </td>
                                             }
                                             else if (i== Model.ds.Rows.Count)
                                             {
                                                  <td>
                                                  <span class="label label-info">Disponible</span>
                                                  </td>
                                             }
                                         }
                                    }
                                    else
                                    {
                                        <td>
                                         <span class="label label-info">Disponible</span>
                                         </td>
                                    <td>
                                        <button type="submit" class="btn btn-info btn-flat">Registrar</button>
                                        @Html.ActionLink("insertar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "7:00 AM" }, null)
                                    </td>
                                    }
                                   
                                   
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>7:30</td>
                                    <td><span class="label label-danger">Denied</span></td>
                                   
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>8:00</td>
                                    <td><span class="label label-danger">Denied</span></td>
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>8:30</td>
                                    <td><span class="label label-danger">Denied</span></td>
                                   
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>9:00</td>
                                    <td><span class="label label-danger">Denied</span></td>
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>10:00</td>  
                                    <td><span class="label label-danger">Denied</span></td>
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>10:30</td>
                                    <td><span class="label label-danger">Denied</span></td>
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>11:00</td> 
                                    <td><span class="label label-danger">Denied</span></td>
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>11:30</td>  
                                    <td><span class="label label-danger">Denied</span></td>      
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>11:30</td>                                   
                                    <td><span class="label label-danger">Denied</span></td>                                 
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>1:00</td>
                                    
                                    <td><span class="label label-danger">Denied</span></td>
                                   
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>1:30</td> 
                                    <td><span class="label label-danger">Denied</span></td>
                                   
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>2:00</td>
                                    <td><span class="label label-danger">Denied</span></td>
                                   
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>2:30</td>
                                    <td><span class="label label-danger">Denied</span></td>
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>3:00</td>
                                    <td><span class="label label-danger">Denied</span></td>        
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>3:30</td>
                                    <td><span class="label label-danger">Denied</span></td>
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>4:30</td>
                                    <td><span class="label label-danger">Denied</span></td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>

