@model Consultorio_UH.Models.Citas
@using System.Globalization;
@{
    ViewBag.Title = "Citas";
    Layout = "~/Views/Shared/Master_Paciente.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Solicitar Cita</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                   
                    <form action="" method="post"></form>
                    @using (Html.BeginForm("Citas", "Paciente", FormMethod.Post, new { @class = "form-horizontal" }))
                    {

                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Servicio</label>

                            <div class="col-sm-10">
                                <select @Html.TextBoxFor(s => s.servicio_id, new { @class = "form-control", style = "width: 194px;", @disabled = "true" })>
                                    @if (Model.servicio_id == 1)
                                    {
                                    <option value="1" selected = "true">Medicina general</option>
                                    <option value="2">Nutricion</option>
                                    }
                                    else
                                    {
                                    <option value="1">Medicina general</option>
                                    <option value="2" selected = "true">Nutricion</option>
                                    }

                                </select>
                            </div>
                        </div>





                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Fecha</label>

                            <div class="col-sm-10">
                                <div class="input-group date">
                                    <input type="text" value=@Model.fecha.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture) class="form-control" disabled ="true"/>
                            </div>
                        </div>
                            </div>
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Doctor</th>
                                    <th>Hora</th>
                                    <th>Status</th>
                                    <th>Acción</th>
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>7:00 AM</td>
                                    @{ 
                                    bool band = true;
                                    if (Model.ds.Rows.Count != 0)
                                    {
                                    
                                    for (int i = 0; i < Model.ds.Rows.Count; i++)
                                    {
                                        if (Model.ds.Rows[i][2].ToString() == "7:00 AM")
                                        {
                                                  <td>
                                                  <span class="label label-default btn-default">Ocupada</span>
                                                  </td>
                                                    <td>
                                        <button class= "btn btn-default btn-flat", disabled = "true" >Tomar</button>
                                    </td>
                                                band = false;
                                                break;
                                            }
                                        }
                                    }
                                    if (band)
                                    {
                                        <td>
                                            <span class="label label-info">Disponible</span>
                                        </td>
                                    <td>
                                        @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "7:00 AM" }, new { @class = "btn btn-info btn-flat" })
                                    </td>
                                    }
                                        }
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>7:30 AM</td>
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "7:30 AM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "7:30 AM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>8:00 AM</td>
                                     @{
                                         band = true;
                                         if (Model.ds.Rows.Count != 0)
                                         {

                                             for (int i = 0; i < Model.ds.Rows.Count; i++)
                                             {
                                                 if (Model.ds.Rows[i][2].ToString() == "8:00 AM")
                                                 {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                     band = false;
                                                     break;
                                                 }
                                             }
                                         }
                                         if (band)
                                         {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "8:00 AM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                         }
                                    }
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>8:30 AM</td>
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "8:30 AM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "8:30 AM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                   
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>9:00 AM</td>
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "9:00 AM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "9:00 AM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>9:30 AM</td>  
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "9:30 AM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "9:30 AM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>10:00 AM</td>
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "10:00 AM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "10:00 AM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>10:30 AM</td> 
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "10:30 AM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "10:30 AM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>11:00 AM</td>  
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "11:00 AM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "11:00 AM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }      
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>11:30 AM</td>                                   
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "11:30 AM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "11:00 AM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }                             
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>1:00 PM</td>
                                    
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "1:00 PM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "1:00 PM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                   
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>1:30 PM</td> 
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "1:30 PM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "1:30 PM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                   
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>2:00 PM</td>
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "2:00 PM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "2:00 PM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                   
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>2:30 PM</td>
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "2:30 PM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "2:30 PM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>3:00 PM</td>
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "3:00 PM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "3:00 PM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }  
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>3:30 PM</td>
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "3:30 PM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "3:30 PM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>4:00 PM</td>
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "4:00 PM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "4:00 PM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>4:00 PM</td>
                                    @{
                                        band = true;
                                        if (Model.ds.Rows.Count != 0)
                                        {

                                            for (int i = 0; i < Model.ds.Rows.Count; i++)
                                            {
                                                if (Model.ds.Rows[i][2].ToString() == "4:30 PM")
                                                {
                                                    <td>
                                                        <span class="label label-default">Ocupado</span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat" , disabled="true">Tomar</button>
                                                    </td>
                                                    band = false;
                                                    break;
                                                }
                                            }
                                        }
                                        if (band)
                                        {
                                            <td>
                                                <span class="label label-info">Disponible</span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Tomar", "CitasIngreso", "Paciente", new { id_paciente = 1, doctor_id = Model.doctor_id, Fecha = Model.fecha, hora = "4:30 PM" }, new { @class = "btn btn-info btn-flat" })
                                            </td>
                                        }
                                    }
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>

