@model Consultorio_UH.Models.Registro_Perfiles
@using System.Globalization;

@{
    ViewBag.Title = "Actualizar";
    Layout = "~/Views/Shared/Master_Admi.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Actualizacion de Perfiles</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    @Html.ValidationSummary(true, String.Empty, new { @style = "color:green;!important" })
                    <form action="" method="post"></form>
                    @using (Html.BeginForm("Actualizar", "Admi", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Tipo de Perfil</label>

                            <div class="col-sm-10">
                                <select @Html.TextBoxFor(r => r.rol_id, new { @class = "form-control", style = "width: 156px;" })>

                                    <option>Paciente</option>
                                    <option>Administrador</option>
                                    <option>Asistente</option>
                                    <option>Doctor</option>
                                    <option>Nutricionista</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Identificacion</label>

                            <div class="col-sm-10">

                                @Html.TextBoxFor(id => id.identificacion, new { @Value = Model.identificacion,disabled="disabled", @class = "form-control", placeholder = "Cedula", style = "width: 156px;" })
                                @Html.ValidationMessageFor(id => id.identificacion, String.Empty, new { @style = "color:red;!important" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Nombre</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(n => n.nombre, new { @Value = Model.nombre, @class = "form-control", placeholder = "Nombre", style = "width: 156px;" })
                                @Html.ValidationMessageFor(n => n.nombre, String.Empty, new { @style = "color:red;!important" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Primer Apellido</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(ap1 => ap1.primer_apellido, new { @Value = Model.primer_apellido, @class = "form-control", placeholder = "Primer Apellido", style = "width: 156px;" })

                                @Html.ValidationMessageFor(ap1 => ap1.primer_apellido, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Segundo Apellido</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(ap2 => ap2.segundo_apellido, new { @Value = Model.segundo_apellido, @class = "form-control", placeholder = "Segundo Apellido", style = "width: 156px;" })

                                @Html.ValidationMessageFor(ap2 => ap2.segundo_apellido, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Correo </label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(c => c.Correo, new { @Value = Model.Correo, @type = "email", @class = "form-control", placeholder = "Correo", style = "width: 200px;" })

                                @Html.ValidationMessageFor(c => c.Correo, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Fecha de nac</label>

                            <div class="col-sm-10">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(fn => fn.fecha_nac, new { @Value = Model.fecha_nac.ToString("dd/MM/yyyy"), disabled = "disabled", @type = "text", @class = "form-control", placeholder = "dd/mm/yyyy", style = "width: 156px;" })
                                    <!--<input type="date" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">-->


                                </div>
                                @Html.ValidationMessageFor(fn => fn.fecha_nac, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Sexo</label>

                            <div class="col-sm-10">
                                <select @Html.TextBoxFor(s => s.sexo, new {@Value = Model.sexo, @class = "form-control", style = "width: 70px;" })>
                                    <option>M</option>
                                    <option>F</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Estado Civil</label>

                            <div class="col-sm-10">
                                <select @Html.TextBoxFor(ec => ec.estado_civil, new {@Value = Model.estado_civil, @class = "form-control", style = "width: 156px;" })>
                                    <option>Soltero(a)</option>
                                    <option>Casado(a)</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Telefono</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(t => t.telefono, new { @Value = Model.telefono, @type = "tel", @class = "form-control", placeholder = "0000-00-00", style = "width: 156px;" })

                                @Html.ValidationMessageFor(t => t.telefono, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Provincia</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(pr => pr.provincia, new { @Value = Model.provincia, @class = "form-control", placeholder = "Provincia", style = "width: 156px;" })

                                @Html.ValidationMessageFor(pr => pr.provincia, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Canton</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(ca => ca.canton, new { @Value = Model.canton, @class = "form-control", placeholder = "Canton", style = "width: 156px;" })

                                @Html.ValidationMessageFor(ca => ca.canton, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Distrito</label>

                            <div class="col-sm-10">
                                @Html.TextBoxFor(di => di.distrito, new { @Value = Model.distrito, @class = "form-control", placeholder = "Distrito", style = "width: 156px;" })

                                @Html.ValidationMessageFor(di => di.distrito, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputExperience" class="col-sm-2 control-label">Direccion Exacta</label>

                            <div class="col-sm-10">
                                 @Html.TextBoxFor(dir => dir.direccion_detallada, new {@Value = Model.direccion_detallada,@type="textarea", @class = "form-control", placeholder = "Direccion" })

                                @Html.ValidationMessageFor(dir => dir.direccion_detallada, String.Empty, new { @style = "color:red;!important" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Tipo de Sangre</label>

                            <div class="col-sm-10">

                                 @Html.TextBoxFor(ts => ts.tipo_sangre, new {@Value = Model.tipo_sangre, disabled = "disabled", @class = "form-control", style = "width: 70px;" })
                                
                                    
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">

                                <button type="submit" class="btn btn-info btn-flat">Actualizar</button>


                            </div>
                        </div>

                    }
                </div>
            </div>
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>



