@model Consultorio_UH.Models.Registro_Perfiles

@{
    ViewBag.Title = "BuscarNombre";
    Layout = "~/Views/Shared/Master_Admi.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Usuarios Registrados</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="input-group input-group-sm">
                            <form action="" method="post"></form>
                            @using (Html.BeginForm("Buscar_id", "Admi", FormMethod.Post, new { @class = "input-group input-group-sm" }))
                            {
                               <!-- <input type="text" class="form-control" placeholder="Identificacion">-->
                                @Html.TextBoxFor(id => id.identificacion, new { @Value = "", @type = "text", @class = "form-control", placeholder = "Identificacion" })
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                                </span>
                            }

                        </div>
                        <div class="input-group input-group-sm">
                            <form action="" method="post"></form>
                            @using (Html.BeginForm("BuscarNombre", "Admi", FormMethod.Post, new { @class = "input-group input-group-sm" }))
                            {
                               <!-- <input type="text" class="form-control" placeholder="Identificacion">-->
                                @Html.TextBoxFor(n => n.nombre, new { @Value = "", @type = "text", @class = "form-control", placeholder = "Nombre" })
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                                </span>
                            }

                        </div>
                        <div class="input-group input-group-sm">
                            <form action="" method="post"></form>
                            @using (Html.BeginForm("BuscarCorreo", "Admi", FormMethod.Post, new { @class = "input-group input-group-sm" }))
                            {
                               <!-- <input type="text" class="form-control" placeholder="Identificacion">-->
                                @Html.TextBoxFor(c => c.Correo, new { @Value = "", @type = "email", @class = "form-control", placeholder = "Correo" })
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                                </span>
                            }

                        </div>
                        <h2></h2>
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Perfil</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Cédula</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 128px;">Nombre</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 128px;">Apellido P</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 128px;">Apellido M</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 128px;">Correo</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Fecha Nac</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 12px;">Sexo</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 128px;">Estado Civil</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 12px;">Telefono</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 128px;">Provincia</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 128px;">Canton</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 128px;">Distrito</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 128px;">Direccion</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 12px;">Tipo de Sangre</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Accion</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 38px;">Accion</th>
                                </thead>
                                <tbody>


                                    @for (int i = 0; i < Model.ds.Tables[0].Rows.Count; i++)
                                    {
                                        <tr role="row" class="odd">

                                            @for (int j = 0; j < Model.ds.Tables[0].Columns.Count; j++)
                                            {
                                                <td>
                                                    @Model.ds.Tables[0].Rows[i][j].ToString()

                                                </td>


                                            }


                                            <td>
                                                <button type="submit" class="btn btn-info btn-flat">
                                                    @Html.ActionLink("Eliminar", "Eliminar", new { Correo = Model.ds.Tables[0].Rows[i][5].ToString() })
                                                </button>
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-info btn-flat">
                                                    @Html.ActionLink(" Actualizar", "Actualizar", new
                                              {
                                                  Perfil = Model.ds.Tables[0].Rows[i][0].ToString(),
                                                  Cedula = Model.ds.Tables[0].Rows[i][1].ToString(),
                                                  Nombre = Model.ds.Tables[0].Rows[i][2].ToString(),
                                                  Apellido_P = Model.ds.Tables[0].Rows[i][3].ToString(),
                                                  Apellido_M = Model.ds.Tables[0].Rows[i][4].ToString(),
                                                  Correo = Model.ds.Tables[0].Rows[i][5].ToString(),
                                                  Fecha_Nac = Model.ds.Tables[0].Rows[i][6].ToString(),
                                                  Sexo = Model.ds.Tables[0].Rows[i][7].ToString(),
                                                  Estado_civil = Model.ds.Tables[0].Rows[i][8].ToString(),
                                                  Telefono = Model.ds.Tables[0].Rows[i][9].ToString(),
                                                  Provincia = Model.ds.Tables[0].Rows[i][10].ToString(),
                                                  Canton = Model.ds.Tables[0].Rows[i][11].ToString(),
                                                  Distrito = Model.ds.Tables[0].Rows[i][12].ToString(),
                                                  Direccion = Model.ds.Tables[0].Rows[i][13].ToString(),
                                                  Tipo_sangre = Model.ds.Tables[0].Rows[i][14].ToString()
                                              })
                                                </button>
                                            </td>

                                        </tr>
                                    }




                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

