@using System.Web.Optimization;
@using Consultorio_UH.Security;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Consultorio UH</title>
    <!--Css-->
    @Styles.Render("~/bundles/Css")
    
</head>
<body class="hold-transition skin-blue sidebar-mini">




    <form id="form1" runat="server">

        <!-- Site wrapper -->
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a  class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><img class="img-responsive" src="/Content/dist/img/Consultorio Uh logo mini.png" alt="Photo"></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><img class="img-responsive" src="/Content/dist/img/Consultorio Uh logo.png" alt="Photo"></span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="@Url.Action("Registro_Perfiles", "Admi")"  role="button"><i class="fa fa-gears"></i></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Usuarios_Registrados", "Admi")" role="button"><i class="fa fa-fw fa-users"></i></a>
                            </li>
                        </ul>
                    </div>



                   <div class="navbar-custom-menu">
                       <ul class="nav navbar-nav">
                           <!-- Messages: style can be found in dropdown.less-->
                           <!-- Notifications: style can be found in dropdown.less -->
                           <!-- Tasks: style can be found in dropdown.less -->
                           <!-- User Account: style can be found in dropdown.less -->

                           <li class="dropdown user user-menu">
                               <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                   <img src="~/Content/dist/img/admin.png" class="user-image" alt="User Image">
                                   <span class="hidden-xs">@Sesion_persistente.Usuario</span>
                               </a>
                               <ul class="dropdown-menu" style="left: 0px;">
                                   <!-- User image -->
                                   <!-- Menu Body -->
                                   <!-- Menu Footer-->
                                   <li>
                                       <a href="@Url.Action("Logoff", "Home")" role="button"><i class="fa fa-fw fa-sign-out"></i>Cerrar Sesión</a>
                                   </li>  
                       </ul>
                            <!-- Control Sidebar Toggle Button -->
                    </ul>
                    </div>
                </nav>

            </header>
                           

                <!-- =============================================== -->
                <!-- Left side column. contains the sidebar -->
                <aside class="main-sidebar">
                    <!-- sidebar: style can be found in sidebar.less -->
                    <section class="sidebar">
                        <!-- Sidebar user panel -->
                        <div class="user-panel">
                            <div class="pull-left image">
                                <img src="~/Content/dist/img/Admin.png" class="img-circle" alt="User Image">
                            </div>
                            <div class="pull-left info">

                                <p>@Sesion_persistente.Nombre_logueado</p>
                                <a href="#"><i class="fa fa-circle text-success"></i> En Línea</a>
                            </div>
                        </div>
                        <!-- search form -->
                        <!-- /.search form -->
                        <!-- sidebar menu: : style can be found in sidebar.less -->
                        <ul class="sidebar-menu" data-widget="tree">

                            <li class="header">Administrador</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-share"></i> <span>Opciones</span>
                                    <span class="pull-right-container pull-right">
                                        <i class="fa fa-angle-left "></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Registro_Perfiles", "Admi")"><i class="fa fa-gears"></i>Registro Perfiles</a></li>
                                    <li><a href="@Url.Action("Usuarios_Registrados", "Admi")"><i class="fa fa-fw fa-users"></i>Usuarios Registrados</a></li>
                                    <li><a href="@Url.Action("Logoff", "Home")"><i class="fa fa-fw fa-sign-out"></i>Cerrar Sesión</a></li>


                                </ul>
                            </li>







                        </ul>
                    </section>
                    <!-- /.sidebar -->
                </aside>
                <!-- =============================================== -->
                <!-- Content Wrapper. Contains page content -->
                <!--Fondo-->
                <div class="content-wrapper">
                    @RenderBody()

                    <!-- /.content -->
                </div>
                <!-- /.content-wrapper -->
                <footer class="main-footer">
                    <div class="pull-right hidden-xs">
                        <b>Version</b> 1.0
                    </div>
                    <strong>Copyright &copy; 2018 <a href="#">Consultorio UH</a>.</strong> All rights
                    reserved.
                </footer>
                <!-- Control Sidebar -->
                <!-- /.control-sidebar -->
                <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
                <div class="control-sidebar-bg"></div>
            </div>

        @Scripts.Render("~/Bundles/Js")
        <script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
        </script>
    </form>
</body>
</html>
