@using System.Web.Optimization;
@model Consultorio_UH.Models.Nutricion_consulta

@{
    ViewBag.Title = "Registro_Preconsulta";
    Layout = "~/Views/Shared/Master_Asistente.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
            <!-- Horizontal Form -->
            
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- left column -->
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12" style="padding-left: 70px; padding-right: 70px;">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Preconsulta</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    @Html.ValidationSummary(true, String.Empty, new { @style = "color:green;!important" })
                    <form action="" method="post"></form>
                    @using (Html.BeginForm("Ingreso2", "Nutri", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                           <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Datos Generales</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">
                            <div class="form-group">

                                <label class="col-sm-2 control-label" style="width: 120px;">Paciente</label>
                                @Html.TextBoxFor(id => id.preconsulta_id, new { @class = "form-control", style = "display:none;" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(id => id.paciente, new { @class = "form-control", placeholder = "kg", style = "width: 156px;"})
                         
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label" style="width: 120px;">Genero</label>

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(id => id.genero, new { @class = "form-control", placeholder = "kg", style = "width: 156px;"})
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 120px;">Edad</label>

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(id => id.Edad, new { @class = "form-control", placeholder = "Años", style = "width: 156px;"})
                                                                
    @*<input class="form-control" id="Edad" onchange="Estimacion_Talla()"  placeholder="Años" style="width: 176px;" disabled="disabled">*@

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 120px;">Peso Actual</label>

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(id => id.peso, new { @class = "form-control", placeholder = "kg", style = "width: 156px;", })
                                    @Html.ValidationMessageFor(x => x.peso, String.Empty, new { @style = "color:red;!important" })
                                    
                                     @*<input  class="form-control" id="Peso_Actual" onchange="Calcular_IMC()" placeholder="kg" style="width: 176px;" disabled="disabled">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 120px;">Peso Usual</label>

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(id => id.peso_usual, new { @class = "form-control", placeholder = "kg", style = "width: 156px;" })
                                    @Html.ValidationMessageFor(x => x.peso_usual, String.Empty, new { @style = "color:red;!important" })
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 210px;">Circunferencia de Muñeca</label>

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(id => id.circun_muneca, new
                               {
                                   @class = "form-control",
                                   placeholder = "kg",
                                   style = "width: 156px;",
                                   onchange = "Estructura_corporal()"
                               })
                                   @Html.ValidationMessageFor(x => x.circun_muneca, String.Empty, new { @style = "color:red;!important" })
                                    @*<input class="form-control" id="Circunferencia_M" placeholder="cm" onchange="Estructura_corporal()" style="width: 176px;">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 210px;">Altura de Rodilla</label>

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(id => id.Altura_rod, new
                               {
                                   @class = "form-control",
                                   placeholder = "kg",
                                   style = "width: 156px;",
                                   onchange = "Estimacion_Talla()"
                               })
                                    @Html.ValidationMessageFor(x => x.Altura_rod, String.Empty, new { @style = "color:red;!important" })
                                    @*<input class="form-control" id = "Altura_Rodilla" onchange="Estimacion_Talla()" placeholder="cm" style="width: 176px;">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 210px;">Circunferencia Braquial</label>

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(id => id.circun_braquial, new
                               {
                                   @class = "form-control",
                                   placeholder = "kg",
                                   style = "width: 156px;",
                                   onchange = "Estimacion_Talla()"
                               })
                                    @Html.ValidationMessageFor(x => x.circun_braquial, String.Empty, new { @style = "color:red;!important" })
                                    @*<input class="form-control" id = "Circun_Braquial"  onchange="Estimacion_Talla()"  placeholder="cm" style="width: 176px;">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 210px;">Circunferencia Abdominal</label>

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(id => id.circun_abdominal, new { @class = "form-control", placeholder = "kg", style = "width: 156px;" })
                                    @Html.ValidationMessageFor(x => x.circun_abdominal, String.Empty, new { @style = "color:red;!important" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 210px;">Circunferencia de Cadera</label>

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(id => id.circun_Cadera, new { @class = "form-control", placeholder = "kg", style = "width: 156px;" })
                                    @Html.ValidationMessageFor(x => x.circun_Cadera, String.Empty, new { @style = "color:red;!important" })
                                    circun_braquial
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 210px;">% de Grasa</label>

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(id => id.porc_grasa, new { @class = "form-control", placeholder = "kg", style = "width: 156px;" })
                                    @Html.ValidationMessageFor(x => x.porc_grasa, String.Empty, new { @style = "color:red;!important" })
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">


                            <div class="form-group">

                                <div class="box-header with-border">
                                    <h3 class="box-title" data-toggle="collapse" data-target="#demo">Estimación de talla</h3>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Mostrar</button>
                                </div>
                                <div id="demo" class="collapse">
                                    <table class="table table-hover">
                                        <tbody>
                                            @if (Model.genero == "Masculino")
                                            {
                                                <tr>
                                                    <th>Hombres(cm)</th>
                                                </tr>
                                                <tr>
                                                    <td><input class="form-control" id="Estimacion_Hombre" placeholder="cm" style="width: 176px;"></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <th>Mujeres(cm)</th>
                                                </tr>
                                                <tr>
                                                    <td><input class="form-control" id="Estimacion_Mujer" placeholder="cm" style="width: 176px;"></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </div>

                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Evaluación Nutricional</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 120px;">Talla a Utilizar</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="talla_utilizar" onchange="Calcular_IMC()" placeholder="Talla" style="width: 176px;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label" style="width: 120px;">Estructura Corporal</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="EstructuraCorporal" placeholder="cm" style="width: 176px;" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 120px;">IMC</label>

                                <div class="col-sm-10">

                                    <input class="form-control" id="IMC" placeholder="IMC" style="width: 176px;" disabled="disabled">

                                </div>

                            </div>
                        </div>
                        <!-- /.box-body -->

                        @if (Model.genero == "Masculino")
                        {
                            <div class="box-footer">
                                <div class="form-group">

                                    <div class="box-header with-border">
                                        <h3 class="box-title">PI Según ADA(Hombres)</h3>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Mostrar</button>
                                    </div>
                                    <div id="demo2" class="collapse">

                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <th>EC Pequeña</th>
                                                    <th>EC Mediana</th>
                                                    <th>EC Grande</th>
                                                </tr>
                                                <tr>
                                                    <td><input class="form-control" id="PIH_p" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                                    <td><input class="form-control" id="PIH_m" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                                    <td><input class="form-control" id="PIH_g" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {

                            <div class="form-group">

                                <div class="box-header with-border">
                                    <h3 class="box-title">PI Según ADA(Mujeres)</h3>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">Mostrar</button>
                                </div>
                                <div id="demo3" class="collapse">

                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <th>EC Pequeña</th>
                                                <th>EC Mediana</th>
                                                <th>EC Grande</th>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                        <div class="form-group">

                            <div class="box-header with-border">
                                <h3 class="box-title">PI Según FEC</h3>
                            </div>
                            <div>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">Mostrar</button>
                            </div>
                            <div id="demo4" class="collapse">

                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th>Pequeña</th>
                                            <th>Mediana</th>
                                            <th>Grande</th>
                                        </tr>
                                        <tr>
                                            <td><input class="form-control" id="PIF_p" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                            <td><input class="form-control" id="PIF_m" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                            <td><input class="form-control" id="PIF_g" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="box-header with-border">
                                <h3 class="box-title">PI Según IMC Adulto Mayor</h3>
                            </div>

                            <table class="table table-hover text-centered">
                                <tbody>
                                    <tr>
                                        <th>Medida</th>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" id="PI_AM" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">

                            <div class="box-header with-border">
                                <h3 class="box-title">PI por fórmula de lorentz</h3>
                            </div>
                            <div>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5">Mostrar</button>
                            </div>
                            <div id="demo5" class="collapse">

                                <table class="table table-hover">
                                    <tbody>
                                        @if (Model.genero == "Masculino")
                                        {
                                            <tr>
                                                <th>Hombres</th>
                                            </tr>
                                            <tr>
                                                <td><input class="form-control" id="PIL_h" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                            </tr>

                                        }
                                        else
                                        {
                                            <tr>
                                                <th>Mujer</th>
                                            </tr>
                                            <tr>
                                                <td><input class="form-control" id="PIL_m" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                            </tr>
                                        }



                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="box-header with-border">
                                <h3 class="box-title">Estimación de PI pte encamado(Raza Blanca)</h3>
                            </div>
                            <div>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6">Mostrar</button>
                            </div>
                            <div id="demo6" class="collapse">
                                <table class="table table-hover">
                                    <tbody>
                                        @if (Model.genero == "Masculino")
                                        {
                                            <tr>
                                                <th>Hombres</th>
                                            </tr>
                                            <tr>
                                                <td><input class="form-control" id="PI_RB_h" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <th>Mujeres</th>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" id="PI_RB_m" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="box-header with-border">
                                <h3 class="box-title">Estimación de PI pte encamado(Raza Negra)</h3>
                            </div>
                            <div>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo7">Mostrar</button>
                            </div>
                            <div id="demo7" class="collapse">

                                <table class="table table-hover">
                                    <tbody>
                                        @if (Model.genero == "Masculino")
                                        {
                                            <tr>
                                                <th>Hombres</th>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" id="PI_RN_h" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <th>Mujeres</th>

                                            </tr>
                                            <tr>
                                                <td><input class="form-control" id="PI_RN_m" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="box-footer">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 120px;">PI a Utilizar</label>

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(id => id.PI, new { @class = "form-control", placeholder = "kg", style = "width: 156px;", onchange = "Calcular_IMC()" })
                                </div>


                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="width: 120px;">IMC Deseado</label>

                                <div class="col-sm-10">
                                    <input id="IMC_deseado" class="form-control" placeholder="kg" style="width: 176px;" onchange="Calcular_IMC()">
                                </div>


                            </div>
                        </div>

                        <div class="box-footer">
                            <div class="form-group">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Pesos (Kg)</h3>
                                </div>


                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th>Peso Ajustado</th>
                                            <th>Peso Meta según IMC</th>
                                            <th>Peso Meta</th>


                                        </tr>
                                        <tr>
                                            <td><input class="form-control" id="Peso_Ajustado" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                            <td><input class="form-control" id="Peso_Meta_IMC" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                            <td><input class="form-control" id="Peso_Meta" placeholder="0" style="width: 176px;" disabled="disabled"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th>% P/T</th>
                                            <th>% P/U</th>
                                            <th>% CP</th>
                                            @if (Model.genero == "Masculino")
                                            {
                                                <th>% Grasa(65-83) Hombres</th>
                                            }
                                            else
                                            {
                                                <th>% Grasa(65-83) Mujeres</th>
                                            }
                                        </tr>
                                        <tr>
                                            <td><input class="form-control" id="p/t" placeholder="0" style="width: 145px;" disabled="disabled"></td>
                                            <td><input class="form-control" id="p/u" placeholder="0" style="width: 145px;" disabled="disabled"></td>
                                            <td><input class="form-control" id="cp" placeholder="0" style="width: 145px;" disabled="disabled"></td>
                                            @if (Model.genero == "Masculino")
                                            {
                                                <td><input class="form-control" id="grasa_h" placeholder="0" style="width: 145px;" disabled="disabled"></td>
                                            }
                                            else
                                            {
                                                <td><input class="form-control" id="grasa_m" placeholder="0" style="width: 145px;" disabled="disabled"></td>
                                            }
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <span class="col-sm-1"></span>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(x => x.diagnostico, new { @class = "form-control", placeholder = "Diagnostico", rows = "5" })
                                    @Html.ValidationMessageFor(x => x.diagnostico, String.Empty, new { @style = "color:red;!important" })
                                </div>
                            </div>
                            <div class="col-sm-offset-1 col-sm-3">

                                <button type="submit" class="btn btn-success btn-flat">Finalizar Consulta</button>

                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                   
                    }
                </div>
            </div>
            <!-- /.box -->
            <!-- general form elements disabled -->
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>


    <!-- /.row -->
    <script type="text/javascript">
        var genero = "@Model.genero";
        function Estructura_corporal() {
            var muñeca_circuferencia = parseFloat(document.getElementById("circun_muneca").value);
            var talla_utilizar = parseFloat(document.getElementById("talla_utilizar").value);
            document.getElementById("EstructuraCorporal").value = roundToTwo(talla_utilizar / muñeca_circuferencia);
            //Calcular_IMC();

        }
        function Estimacion_Talla() {
            var Edad = document.getElementById("Edad").value;
            var Altura_rod = parseFloat(document.getElementById("Altura_rod").value);
            var circun_braquial = parseFloat(document.getElementById("circun_braquial").value);
            if (genero == "Masculino") {
                var resultH = 64.19 - (0.04 * Edad) + (2.02 * Altura_rod);
                document.getElementById("Estimacion_Hombre").value = roundToTwo(resultH);
            }
            else {
                var resultM = 84.88 - (0.24 * Edad) + (1.83 * Altura_rod);
                document.getElementById("Estimacion_Mujer").value = roundToTwo(resultM);
            }
            EstimacionRaza(Altura_rod, circun_braquial)

        }

        function Calcular_IMC() {
            var peso_actual = parseFloat(document.getElementById("peso").value);
            var talla_utilizar = document.getElementById("talla_utilizar").value;
            Estructura_corporal();
            var div = talla_utilizar / 100;
            var multi = div * div;
            var result = peso_actual / multi;
            document.getElementById("IMC").value = roundToTwo(result);
            PI_ADA(talla_utilizar);
            PI_FEC(talla_utilizar);
            PI_AdultoMayor(talla_utilizar);
            PI_L(talla_utilizar);
            Calculo_pesos(talla_utilizar)
        }

        function PI_ADA(talla_utilizar) {
            if (genero == "Masculino") {
                var ec_med_h = ((talla_utilizar - 152) / (2.5) * (2.7) + (48.2));
                var ec_peq_h = ec_med_h - (ec_med_h * 0.1);
                var ec_gra_h = ec_med_h + (ec_med_h * 0.1);
                document.getElementById("PIH_p").value = roundToTwo(ec_peq_h);
                document.getElementById("PIH_m").value = roundToTwo(ec_med_h);
                document.getElementById("PIH_g").value = roundToTwo(ec_gra_h);
            }
            else {
                var ec_med_h = ((Talla_utilizar - 152) / (2.5) * (2.3) + (45.5));
                var ec_peq_h = ec_med_h - (ec_med_h * 0.1);
                var ec_gra_h = ec_med_h + (ec_med_h * 0.1);
                document.getElementById("PIM_p").value = roundToTwo(ec_peq_h);
                document.getElementById("PIM_m").value = roundToTwo(ec_med_h);
                document.getElementById("PIM_g").value = roundToTwo(ec_gra_h);
            }

        }

        function PI_FEC(talla_utilizar) {
            fec_p = (((talla_utilizar / 100) * (talla_utilizar / 100)) * 20.5);
            fec_m = (((talla_utilizar / 100) * (talla_utilizar / 100)) * 22.5);
            fec_g = (((talla_utilizar / 100) * (talla_utilizar / 100)) * 25);
            document.getElementById("PIF_p").value = roundToTwo(fec_p);
            document.getElementById("PIF_m").value = roundToTwo(fec_m);
            document.getElementById("PIF_g").value = roundToTwo(fec_g);

        }

        function PI_AdultoMayor(talla_utilizar) {
            var adult_mayor_medida = ((23 * ((talla_utilizar / 100) * (talla_utilizar / 100))) + (28 * ((talla_utilizar / 100) * (talla_utilizar / 100)))) / (2);
            document.getElementById("PI_AM").value = roundToTwo(adult_mayor_medida);
        }

        function PI_L(talla_utilizar) {
            if (genero == "Masculino") {
                var pi_lorentz_h = talla_utilizar - 100 - ((talla_utilizar - 150) / 4);
                document.getElementById("PIL_h").value = roundToTwo(pi_lorentz_h);
            }
            else {
                var pi_lorentz_m = talla_utilizar - 100 - ((talla_utilizar - 150) / 2.5);
                document.getElementById("PIL_m").value = roundToTwo(pi_lorentz_m);
            }

        }
        function EstimacionRaza(Altura_rod, circun_braquial) {
            if (genero == "Masculino") {
                /*Raza blanca*/
                var pi_raza_b_h = (Altura_rod * 1.1) + (circun_braquial * 3.07) - 75.81;
                /*Raza Negra*/
                var pi_raza_n_h = (Altura_rod * 0.44) + (circun_braquial * 2.86) - 39.21;
                document.getElementById("PI_RB_h").value = roundToTwo(pi_raza_b_h);

                document.getElementById("PI_RN_h").value = roundToTwo(pi_raza_n_h);
            }
            else {
                /*Raza blanca*/
                var pi_raza_b_m = (Altura_rod * 1.09) + (circun_braquial * 2.68) - 65.51;
                /*Raza Negra*/
                var pi_raza_n_m = (Altura_rod * 1.5) + (circun_braquial * 2.58) - 84.22;

                document.getElementById("PI_RB_m").value = roundToTwo(pi_raza_b_m);

                document.getElementById("PI_RN_m").value = roundToTwo(pi_raza_n_m);
            }
        }
        function Calculo_pesos(talla_utilizar) {
            var PIU = parseFloat(document.getElementById("PI").value);
            var IMC_Deseado = parseFloat(document.getElementById("IMC_deseado").value);
            var peso = parseFloat(document.getElementById("peso").value);
            var ec_med_h = parseFloat(document.getElementById("PIH_m").value);
            var peso_ajustado = (peso - PIU) / 4 + PIU;
            var peso_imc = IMC_Deseado * ((talla_utilizar / 100) * (talla_utilizar / 100));
            var peso_meta = peso - (ec_med_h * 0.1);
            document.getElementById("Peso_Ajustado").value = roundToTwo(peso_ajustado);
            document.getElementById("Peso_Meta_IMC").value = roundToTwo(peso_imc);
            document.getElementById("Peso_Meta").value = roundToTwo(peso_meta, PIU);
            porcentajes(peso, PIU);
        }
        function porcentajes(peso, PI) {
            /*Porcentajes*/
            var Edad = document.getElementById("Edad").value;
            var imc = parseFloat(document.getElementById("IMC").value);
            var peso_usual = parseFloat(document.getElementById("peso_usual").value);
            pt = (peso / PI) * 100;
            pu = (peso / peso_usual) * 100;
            cp = (((peso_usual) - peso) * 100) / peso_usual;
            grasa_h = (1.2 * imc) + (0.23 * Edad) - (10.8 * 1) - 5.4;
            grasa_m = (1.2 * imc) + (0.23 * Edad) - 0 - 5.4;
            document.getElementById("p/t").value = roundToTwo(pt);
            document.getElementById("p/u").value = roundToTwo(pu);
            document.getElementById("cp").value = roundToTwo(cp);
            if (genero == "Masculino")
                document.getElementById("grasa_h").value = roundToTwo(grasa_h);
            else
                document.getElementById("grasa_m").value = roundToTwo(grasa_m);
        }

        function roundToTwo(num) {
            return +(Math.round(num + "e+2") + "e-2");
        }

    </script>
</section>

